.textStyle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

.sectionHeader {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
}

.charcoal {
    background-color: #494c50;
}

.lightBlue {
    background-color: #3e0285;
}

.stageicon {
	width: 32px;
}

.npcicon {
    width: 24px;
    object-fit: contain;
    margin-left: 6px;
    opacity: 50%;
}

.full-opacity {
    opacity: 100%;
}
